@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway:wght@200&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway:wght@200&family=Righteous&family=Rowdies:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family:'Raleway', sans-serif;
    color: #777;
}

html, body{
    text-align: center;
    background: rgb(230, 248, 253);
    margin: 0;
    padding: 0;
}
/*header*/
.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: rgb(230, 230, 230);
    text-decoration: none;
    text-transform: uppercase;
}

.main-nav{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    font-size: 1.1em;
    word-spacing: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li{
    padding: 1.5rem;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .3);
}

.main-header{
    background-color: darkgray;
    background-image: url("/img/galaxy.jpeg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 25px;
}

.h1-header{
    padding-top: 1rem;
    color: rgb(230, 230, 230);
    font-size: 3rem;
    font-family: 'Righteous', cursive;
}

/*form*/
fieldset {
    display: inline-table;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
    margin-top: 2rem;
    margin-bottom: .5rem;
    padding: 1rem;
    box-shadow: 0 0 10px #999;
    
}
legend {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
}
/*labels*/
label {
    display: block;
    margin-top: 1em;
}
.checks-label {
    margin-top: 0;
}
label:first-of-type {
    margin-top: 0;
}
input {
    margin: 1px;
    padding: .5em;
    border: solid 1px #999;
}
input[type="email"], input[type="text"] {
    width: 15em;
}
.regi {
    display: inline-block;
    margin: .2rem;
}
.alert-error{
    border: 1px solid red;
    background-color: rgb(241, 155, 155);
}
.btn {
    text-decoration: none;
    padding: 5px 15px;
    font-size: 1.5rem;
    background-color: #83648a;
    border-radius: 70%;
    color:rgb(230, 230, 230);
    margin-bottom: 2rem;
    
}
.content-table th, .content-table td{
    padding: 12px 15px;
}
